<div class="anchor-list__container">
  <span class="anchor-list__title">
    <i>Jump to year:</i>
  </span>
  <ul class="anchor-list__list-container">
    <li class="anchor-list__item">
      <a class="btn btn-small" href="{{ url }}">2020</a>
    </li>
    <li class="anchor-list__item">
      <a class="btn btn-small" href="{{ url }}">2019</a>
    </li>
    <li class="anchor-list__item">
      <a class="btn btn-small" href="{{ url }}">2018</a>
    </li>
    <li class="anchor-list__item">
      <a class="btn btn-small" href="{{ url }}">2017</a>
    </li>
    <li class="anchor-list__item">
      <a class="btn btn-small" href="{{ url }}">2016</a>
    </li>
    <li class="anchor-list__item">
      <a class="btn btn-small" href="{{ url }}">2015</a>
    </li>
    <li class="anchor-list__item">
      <a class="btn btn-small" href="{{ url }}">2014</a>
    </li>
    <li class="anchor-list__item">
      <a class="btn btn-small" href="{{ url }}">2013</a>
    </li>
    <li class="anchor-list__item">
      <a class="btn btn-small" href="{{ url }}">2012</a>
    </li>
    <li class="anchor-list__item">
      <a class="btn btn-small" href="{{ url }}">2011</a>
    </li>
  </ul>
  <fieldset>

    <label for="select" class="visually-hidden">Select Button List</label>
    <select id="select" class="sel-btn sel-btn-small">
      <option>Additional Years</option>

      <option>2010</option>
      <option>2010</option>
      <option>2010</option>
      <option>2010</option>
      <option>2010</option>
      <option>2010</option>
      <option>2010</option>
      <option>2010</option>
      <option>2010</option>
      <option>2010</option>
      <option>2010</option>
      <option>2010</option>
      <option>2010</option>
      <option>2010</option>

    </select>

  </fieldset>
</div>